// =====================================================================================================
//     ____      _                
//    / ___|___ | | ___  _ __ ___ 
//   | |   / _ \| |/ _ \| '__/ __|
//   | |__| (_) | | (_) | |  \__ \
//    \____\___/|_|\___/|_|  |___/
//
// =====================================================================================================
////
/// Defines and describes all UI colors.
/// @group core
////
// Dependencies

// Colors
$white: rgb(255, 255, 255);
$light: rgb(239, 239, 239);
$color: rgb(85, 41, 231);
// Materials
$shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
