// =====================================================================================================
//    ____  _                   _                  
//   / ___|| |_ _ __ _   _  ___| |_ _   _ _ __ ___ 
//   \___ \| __| '__| | | |/ __| __| | | | '__/ _ \
//    ___) | |_| |  | |_| | (__| |_| |_| | | |  __/
//   |____/ \__|_|   \__,_|\___|\__|\__,_|_|  \___|
//
// =====================================================================================================
////
/// Defines hierarchically high elements of a page structure.
/// @group core
////
// Dependencies
@import '../config/layouts';
@import 'colors';

/// Body
body {
  background: $light;
  height: 100vh;
  width: 100vw;
}

/// Main
main {
  @include display-on('hand') {
    margin: 0 5%;
    width: 90%;
  }
  @include display-on('page') {
    margin: 0 10%;
    width: 80%;
  }
  @include display-on('book') {
    margin: 0 20%;
    width: 60%;
  }
  @include display-on('desk') {
    margin: 0 30%;
    width: 40%;
  }
  @include display-on('wide') {
    margin: 0 35%;
    width: 30%;
  }

  display: flex;
  flex-direction: column;
}

/// Container
.container {
  grid-area: center;
  margin: 12px 0;
  padding: 12px;
  width: 100%;
}

/// Card
.card {
  background: $white;
  border-radius: 4px;
  box-shadow: $shadow;
}

/// Menu
.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
