// =====================================================================================================
//    _____                 
//   |_   _|   _ _ __   ___ 
//     | || | | | '_ \ / _ \
//     | || |_| | |_) |  __/
//     |_| \__, | .__/ \___|
//         |___/|_|         
// =====================================================================================================
////
/// It contains functions that are used for helping others to do simple but repetitive tasks.
/// @group core
////
// Dependencies
* {
  font-family: Menlo;
}

.title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: .5em;
}
