// =====================================================================================================
//    _   _                            _ _         
//   | \ | | ___  _ __ _ __ ___   __ _| (_)_______ 
//   |  \| |/ _ \| '__| '_ ` _ \ / _` | | |_  / _ \
//   | |\  | (_) | |  | | | | | | (_| | | |/ /  __/
//   |_| \_|\___/|_|  |_| |_| |_|\__,_|_|_/___\___|
//
// =====================================================================================================
/// Normalization function that affects all elements
/// @group config
* {
  box-sizing: border-box;
  font-family: Menlo;
  margin: 0;
}
